---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    {% unless post.path contains 'old-posts-2021' %}
      <article class="post">
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
        <div class="entry">
          {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endunless %}
  {% endfor %}

  <div class="old-posts-section">
    <h2 class="section-title">Old Posts from 2021</h2>
    {% for post in site.posts %}
      {% if post.path contains 'old-posts-2021' %}
        <article class="post old-post">
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          <div class="entry">
            {{ post.excerpt }}
          </div>
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
        </article>
      {% endif %}
    {% endfor %}
  </div>
</div>